.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;

}

.container {
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.heading {
  font-size: 27px;
}

.price {
  color: gray;
  font-size: 22px;
  z-index: 1;
  text-align: center;
}

.size {
  color: gray;
  font-size: 22px;
  visibility: hidden;
  text-align: center;
}

.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  visibility: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 600;
}

.button:hover {
  opacity: 0.7;
}

.card .price::after {
  content: '';

}

.card:hover .size{
  visibility: visible;
  opacity: 1;
  text-align: center;
}

.card:hover .button{
  visibility: visible;
  opacity: 1;
  text-align: center;

}

.card:hover .img {
  content: url("/dress2.png");
}

.card:hover {
  cursor: pointer;
}

